<html>
	<title>Lots of Coos</title>
	<head>
		<h1><center>Greetings, nerd.</center></h1>
	</head>
	<body>
		<p color="purple">Welcome to my website.</p>
		<div>
			<p color="green">Enjoy this Heeland Coo. His name is <%= @name %>.</p>
			<img src='http://bit.ly/YChpSI'>
		</div>
	</body>
</html>