<html>
	<title>Lots of Coos</title>
	<head>
		<h1><center>Greetings, nerd.</center></h1>
	</head>
	<body>
		<p><center><font color="purple">Welcome to my website.</font></center></p>
		<div>
			<center><p><font color="green">Enjoy this Heeland Coo. His name is <%= @name %>.</font></p>
			<img src='http://bit.ly/YChpSI'></center>
		</div>
	</body>
</html>