<html>
	<title>Lots of Coos</title>
	<head>
		<h1><center><big><font color="blue">Greetings, nerd.</font></big></center></h1>
	</head>
	<body>
		<p><center><font color="purple"><b><big>Welcome to my website.</big></b></font></center></p>
		<div>
			<center><p><font color="green"><b><big>Enjoy this Heeland Coo. His name is <%= @name %>.</big></b></font></p>
			<img src='images/coo.jpg'></center>
		</div>
	</body>
</html>